@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


* {
   font-family: 'Do Hyeon', sans-serif;   
   font-size: 1.3rem;
}

  body{
    background-color: #eeffa0;
 }


 h2, h3 {
    font-size: 50px;
 }



table {
   width: 900px;
   text-align: center;
   background-color: white;
}

th {
   background-color: #ffb671;
}

#last_td {
   text-align: center;
}

textarea {
   height: 600px;
   width: 80%;
}

#btndelete {
   background: none;
   display: inline-block;
   text-align: center;
   width: 60%;
   height: 50px;
   border-radius: 5px;
   margin: 5px auto;
}

#btndelete:hover {
   display: inline-block;
   background: none;
   background-color: red;
   color: white;
}

input[type="password"],
input[type="text"],
input[type="number"] {
	
	width: 80%;
}
 

input[type="button"], input[type="submit"], input[type="reset"] {
   background: none;
   display: inline-block;
   text-align: center;
   width: 20%;
   height: 50px;
   line-height: 50px;
   border-radius: 5px;
   margin: 5px auto;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
   display: inline-block;
   background: none;
   background-color: #ffb671;
   color: white;
}